<link rel="stylesheet" href="~/css/chat.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="">

                <div class="">
                    <div class="">
                        <div class="">
                            <input type="text" class="form-control" id="filter" placeholder="Search...">
                        </div>
                    </div>
                </div>
                <div id="div-contacts">
                </div>

                <input type="button" class="btn btn-primary" id="test" value="test">

                <hr class="d-block d-lg-none mt-1 mb-0">
            </div>
        </div>
        <div class="col-md-9">          
            <div class="position-relative">
                <div class="chat-messages p-4 no-overflow">

                </div>
            </div>            
        </div>
    </div>
</div>

<script>
    var urlGetMatches = '@Url.Action("GetMatches", "Match")'

    var urlGetContacts = '@Url.Action("GetContacts", "Chat")'
    var urlGetConversation = '@Url.Action("GetConversation", "Chat")'
    var urlVisualizeMessages = '@Url.Action("VisualizeMessages", "Chat")'
    var urlGetContact = '@Url.Action("GetContact", "Chat")'
    var urlInsertChat = '@Url.Action("InsertChat", "Chat")'

    var urlGetUser = '@Url.Action("GetUser", "User")'
</script>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>