<style>
    .list-group {
        max-height: 150px;
        margin-bottom: 10px;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
        scrollbar-width: thin !important;
        scrollbar-color: #3B71CA !important;
    }

    .list-group::-webkit-scrollbar {
        width: 12px;
    }

    .list-group::-webkit-scrollbar-thumb {
        background-color: #3B71CA;
        border-radius: 20px;
    }

    .interest {
        cursor: pointer;
        color: white;
    }

    .card {
        height: 300px;
        /* Imposta un'altezza fissa per la card */
    }

    .card-img-top {
        width: 100%;
        height: 240px;
        object-fit: cover;
    }

    div {
        color: white;
    }

    section {
        color: white;
    }

    section.range-slider {
        position: relative;
        width: 200px;
        height: 35px;
        text-align: center;
    }

    section.range-slider input {
        pointer-events: none;
        position: absolute;
        overflow: hidden;
        left: 0;
        top: 15px;
        width: 200px;
        outline: none;
        height: 18px;
        margin: 0;
        padding: 0;
    }

    section.range-slider input::-webkit-slider-thumb {
        pointer-events: all;
        position: relative;
        z-index: 1;
        outline: 0;
    }

    section.range-slider input::-moz-range-thumb {
        pointer-events: all;
        position: relative;
        z-index: 10;
        -moz-appearance: none;
        width: 9px;
    }

    section.range-slider input::-moz-range-track {
        position: relative;
        z-index: -1;
        background-color: rgba(0, 0, 0, 1);
        border: 0;
    }

    section.range-slider input:last-of-type::-moz-range-track {
        -moz-appearance: none;
        background: none transparent;
        border: 0;
    }

    section.range-slider input[type=range]::-moz-focus-outer {
        border: 0;
    }
</style>
<div class="container">
    <main role="main" class="pb-3">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card bg-dark" id="card">
                    <div class="card-header">
                        <h2>Profile</h2>
                    </div>
                    <div class="row" id="card-body">

                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" id="btnBack" class="btn btn-primary">←</button>
                            </div>
                            <div class="col-md-6 text-end">
                                <button type="button" id="btnContinue" class="btn btn-primary">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script>
    var urlRegister = '@Url.Action("Register", "Login")'
    var urlVerify = '@Url.Action("CheckSecretCode", "Login")'
    var urlSendMail = '@Url.Action("SendMail", "Login")'
    var urlGetJobs = '@Url.Action("GetJob", "Profile")'
    var urlGetMunicipalities = '@Url.Action("GetCity", "Profile")'
    var urlGetProfile = '@Url.Action("GetProfile", "Profile")'
    var urlInsertProfile = '@Url.Action("PutProfile", "Profile")'
    var urlHomePage = '@Url.Action("HomePage", "Home")'
</script>
<script src="~/js/profile.js"></script>