<style>
    .list-group {
        max-height: 150px;
        margin-bottom: 10px;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
        scrollbar-width: thin !important;
        scrollbar-color: #3B71CA !important;
    }

    .list-group::-webkit-scrollbar {
        width: 12px;
    }

    .list-group::-webkit-scrollbar-thumb {
        background-color: #3B71CA;
        border-radius: 20px;
    }

    .interest {
        cursor: pointer;
        color: white;
    }

    .card {
        height: 300px;
        /* Imposta un'altezza fissa per la card */
    }

    .card-img-top {
        width: 100%;
        height: 240px;
        object-fit: cover;
    }

    div {
        color: white;
    }
</style>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card bg-dark" id="card">
            <div class="card-header">
                <h2>Profile</h2>
            </div>
            <div class="row" id="card-body">
                
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" id="btnBack" class="btn btn-primary">←</button>
                    </div>
                    <div class="col-md-6 text-end">
                        <button type="button" id="btnContinue" class="btn btn-primary">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var urlRegister = '@Url.Action("Register", "Login")'
    var urlVerify = '@Url.Action("CheckSecretCode", "Login")'
    var urlSendMail = '@Url.Action("SendMail", "Login")'
    var urlGetJobs = '@Url.Action("GetJob", "Profile")'
    var urlGetMunicipalities = '@Url.Action("GetCity", "Profile")'
    var urlInsertProfile = '@Url.Action("InsertProfile", "Profile")'
</script>
<script src="~/js/profile.js"></script>